#equipment-panel:not(.hidden-panel) {
  height: calc(100vh - 11rem); /* accounts for the GSB & the tabs */
  overflow: scroll;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-areas:
    'equipment-details'
    'maintenance-panel';
}

.equipment-details {
  height: 100%;
  width: 100%;
}

.equipment-details_wrapper {
  display: grid;
  grid-template-columns: 35% 1fr;
  grid-template-rows: 40% 60%r;
  grid-template-areas:
    'details details'
    'alerts contacts-table';
}

.equipment-alerts {
  display: flex;
}

.segmented-button-group {
  padding-bottom: var(--spacing-4);
}

.segmented-button-group rux-segmented-button {
  margin: var(--spacing-2);
}

.equipment-details-log {
  min-height: 16.5rem;
  max-height: 16.5rem;
  height: calc(100% - 1rem);
  flex: 1;
}

.equipment-details-log rux-log::part(log-notification) {
  max-width: 42rem;
}

.alert-description {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  padding: var(--spacing-3);
  max-width: 40%;
}

.alert-description::last-child {
  flex: 1;
}

.alert-description header {
  padding-bottom: var(--spacing-3);
}

.dashboard_equipment-wrapper rux-tabs {
  margin-bottom: var(--spacing-2);
}

.equipment-title {
  align-items: center;
  gap: var(--spacing-2);
}
