.maintenance-panel {
  padding-top: var(--spacing-3);
  gap: var(--spacing-3);
}

rux-container.jobs-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  display: inline-block;
}

rux-container.jobs-section h2 {
  padding: 0px;
  margin: 0px;
}

rux-container.jobs-section::part(body) {
  display: flex;
}

rux-container.schedule-job-wrapper {
  display: flex;
}

.maintenance-panel h2 {
  font-size: var(--font-size-2xl);
  padding-bottom: var(--spacing-2);
  font-weight: var(--font-weights-regular);
}

.maintenance-panel rux-container:nth-of-type(1) {
  flex-direction: row;
}

.job-card-wrapper {
  margin: var(--spacing-4);
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
  gap: var(--spacing-3);
}

.maintenance-history-panel {
  padding-block-start: var(--spacing-4);
}

.maintenance-wrapper .maintenance {
  overflow-y: auto;
  max-height: 18rem;
}

.maintenance-wrapper h2 {
  margin: var(--spacing-3);
}

.maintenance-panel header[slot='header'] {
  display: flex;
  justify-content: space-between;
}
