.table-wrapper {
  min-width: 350px;
  overflow-y: scroll;
}

.table-wrapper rux-table {
  width: 100%;
}

.table-wrapper rux-table-header-row rux-icon {
  vertical-align: middle;
}

.table-wrapper rux-table-header-row rux-table-header-cell:hover {
  cursor: pointer;
}

.table-wrapper rux-table-header-row .visible,
.table-wrapper rux-table-header-row rux-table-header-cell:hover rux-icon {
  visibility: visible;
}

.table-wrapper rux-table-header-row .hidden {
  visibility: hidden;
}

.table-wrapper rux-table-cell,
.table-wrapper rux-table-header-cell {
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table-wrapper rux-table-header-cell div {
  display: grid;
  align-items: center;
  grid-template-columns: 100% 0%;
}

.table-wrapper rux-table-header-cell:has(rux-icon.visible) div,
.table-wrapper rux-table-header-cell:hover div {
  grid-template-columns: auto 1fr;
}

.table-wrapper rux-table-header-cell div.right-align {
  grid-template-columns: auto 32px;
}

.table-wrapper rux-table-header-cell span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table-wrapper rux-table-cell rux-status {
  margin-inline-start: calc(var(--spacing-4) + var(--spacing-050));
  width: fit-content;
}

rux-container .table-wrapper {
  /* to color small space above scrollbar */
  background-color: var(--color-background-base-header);
}

.right-align {
  text-align: right;
}

rux-table-cell.right-align span.right-align {
  padding-inline-end: var(--spacing-8);
}
