.Alerts-panel {
  height: 100%;
}

.Alerts-panel__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-4);
  background-color: var(--color-background-surface-header);
}

.Alerts-panel__alerts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Alerts-panel__selections {
  display: flex;
  gap: var(--spacing-4);
}

.Alerts-panel__heading {
  background-color: var(--color-background-surface-header);
  border-top: 1px solid var(--color-background-base-default);
  padding: var(--spacing-2);
  padding-right: var(--spacing-6);
  box-shadow: var(--shadow-overlay);
  height: 2.625rem;
}

.Alerts-panel__sort {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.Alerts-panel__heading,
.Alerts-panel__item {
  display: grid;
  grid-template-columns: repeat(2, 1.5rem) 2fr repeat(2, 1fr);
  align-items: center;
  gap: var(--spacing-2);
}

.Alerts-panel__item {
  padding: var(--spacing-2);
}

.Alerts-panel__item .text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Alerts-panel__list {
  overflow-y: scroll;
  height: calc(100% - 12.875rem);
}

.Alerts-panel__status {
  display: flex;
  justify-content: center;
}

.Alerts-panel__details {
  background-color: var(--color-background-base-default);
  padding: var(--spacing-4);
}

.Alerts-panel__investigate-button {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

.Alerts-panel__actions {
  display: flex;
  justify-content: flex-end;
  background-color: var(--color-background-surface-header);
  gap: var(--spacing-2);
  padding: var(--spacing-4);
}

.Alerts-panel__no-alerts {
  height: calc(100% - 12.875rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
