.dashboard {
  height: calc(100vh - 96px);
  overflow-y: hidden;
  padding: var(--spacing-3);
  background-color: var(--color-background-base-default);
  color: var(--color-text-primary);
  display: grid;
  gap: var(--spacing-2);
  grid-template-columns: calc(20% - 8px) 1fr;
  grid-template-rows: minmax(0, 1fr);
  grid-template-areas: 'equipment-tree equipment-panel';
}

.dashboard_equipment-wrapper {
  grid-area: equipment-panel;
  display: grid;
  grid-template-rows: max-content auto;
  grid-template-areas: 'tab-navigation' 'tab-panel';
}

.dashboard_equipment-wrapper rux-tabs {
  height: auto;
  grid-area: tab-navigation;
  overflow: hidden;
  white-space: nowrap;
}

.dashboard_equipment-wrapper rux-tab::part(container) {
  min-width: fit-content;
}

#inoperable-equipment-panel,
#equipment-panel {
  grid-area: tab-panel;
}

.tabs-menu rux-icon {
cursor: pointer;
}

.tabs-menu {
  height: var(--spacing-14);
}