.dashboard_equipment-wrapper rux-tabs {
  height: auto;
  margin-bottom: var(--spacing-3);
}

.tabs-and-search {
  display: flex;
  justify-content: space-between;
  margin-right: var(--spacing-2);
}
