.inoperable-equipment {
  color: var(--color-text-primary);
}

.inoperable-equipment span {
  font-weight: var(--font-weights-medium);
  font-size: var(--font-size-lg);
}

.inoperable-equipment .section {
  margin-bottom: var(--spacing-4);
  height: auto;
  max-height: 12.5rem
}

.no-equipment {
  background-color: var(--color-background-base-hover);
  display: flex;
  align-items: center;
  height: var(--spacing-12);
  margin-block: auto;
  padding-inline: var(--spacing-4);
}

.section ul {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  margin-top: var(--spacing-3);
  justify-content: flex-start;
  gap: var(--spacing-3);
}
