.inoperable-equipment {
  color: var(--color-text-primary);
}

.inoperable-equipment::part(body) {
  gap: var(--spacing-4);
  overflow: auto;
}

.inoperable-equipment span {
  font-weight: var(--font-weights-medium);
  font-size: var(--font-size-2xl);
  padding-bottom: var(--spacing-2);
  margin-top: 0;
}

.inoperable-equipment .section {
  height: auto;
}

.inoperable-equipment .section::part(body) {
  padding-top: var(--spacing-2);
}

.section ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  margin-top: var(--spacing-1);
  margin-bottom: var(--spacing-1);
  justify-content: flex-start;
  gap: var(--spacing-3);
}

.section ul li {
  cursor: pointer;
}

/* There is currently no good solution for
   monitoring status icons on light theme
   this represents one proposed solution */

.light-theme .inoperable-equipment rux-monitoring-icon {
  &[status='off']::part(icon) {
    color: #7b8089;
  }
  &[status='standby']::part(icon) {
    color: #2d8ba9;
  }
  &[status='normal']::part(icon) {
    color: #00942c;
  }
  &[status='caution']::part(icon) {
    color: #998200;
  }
  &[status='serious']::part(icon) {
    color: #c26c0a;
  }
  &[status='critical']::part(icon) {
    color: #d72809;
  }
}
