.inoperable-equipment {
  color: var(--color-text-primary);
  height: 100%;
}

.inoperable-equipment::part(body) {
  gap: var(--spacing-4);
  overflow: auto;
}

.inoperable-equipment span {
  font-weight: var(--font-weights-medium);
  font-size: var(--font-size-lg);
  margin-top: 0;
}

.inoperable-equipment .section {
  height: auto;
  max-height: 11.75rem;
}

.inoperable-equipment .section::part(body) {
  padding-top: var(--spacing-2);
}

.section ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
  margin-top: var(--spacing-1);
  margin-bottom: var(--spacing-1);
  justify-content: flex-start;
  gap: var(--spacing-3);
}

.section ul li {
  cursor: pointer;
}
