rux-container {
  height: 100%;
}

rux-container::part(container) {
  display: flex;
  flex-direction: column;
  height: calc(100% - 2px);
  overflow-y: hidden;
}

rux-container::part(body) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

rux-container footer[slot='footer'] {
  display: flex;
  gap: var(--spacing-2);
  justify-content: flex-end;
}

.maintenance-panel {
  grid-area: maintenance-panel;
}

.equipment-details_details {
  grid-area: details;
}

.contacts-table {
  grid-area: contacts-table;
  max-height: 35rem;
  overflow: hidden;
  margin-block: var(--spacing-3);
}

.alerts {
  grid-area: alerts;
  max-height: 35rem;
  overflow: hidden;
  margin-block: var(--spacing-3);
}

.equipment-tree {
  grid-area: equipment-tree;
}

/* GLOBAL PAGE STYLES */

.page {
  /* calculated height of interior pages so that gsb doesn't have scrollbar */
  max-height: calc(100vh - 10.25rem);
  display: flex;
  flex-flow: column;
  overflow: overlay;
}

/* GlOBAL TABLE STYLES */

.table-wrapper {
  overflow-y: scroll;
}

.table-wrapper::-webkit-scrollbar-track {
  margin-top: 40px;
}

rux-table-header {
  top: 0;
  position: sticky;
  z-index: 10;
}

rux-status::part(status) {
  margin-inline: auto;
}

/* Global Filter Notification Style */
.filter-notification {
  background-color: var(--color-background-surface-default);
  padding: var(--spacing-2);
  text-overflow: ellipsis;
  white-space: nowrap;
}

.filter-notification rux-button::part(container) {
  padding-inline: var(--spacing-2);
  box-shadow: none;
}

.hidden-panel {
  display: none;
}
