.table-wrapper .jobs-header-cell:nth-of-type(7) {
  width: 23%;
}

.table-wrapper
  rux-table-header-cell.jobs-header-cell.right-align
  .table-wrapper
  rux-table-cell.jobs-cell.right-align {
  text-align: right;
}

.table-wrapper rux-table-cell.jobs-cell.right-align span {
  /* 32px of padding to match icon and padding in header on right-aligned columns */
  padding-inline-end: var(--spacing-8);
}

rux-table-header-cell.jobs-header-cell:has(rux-icon.visible) div.right-align,
rux-table-header-cell.jobs-header-cell:hover div.right-align {
  width: fit-content;
  margin-left: auto;
}

.table-wrapper .jobs-cell:nth-of-type(1) {
  border-left: transparent 5px solid;
}

.table-wrapper.jobs-table {
  max-height: 13rem;
}

.table-wrapper.jobs-table rux-table-row {
  cursor: pointer;
}
